* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
/* background  */
.imgdiv {
  width: 100%;
  height: 100vh;
  background: url('./imges/scandinavian-interior-mockup-wall-decal-background 1.png') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.btnnn {
  text-align: center;
  cursor: pointer;
}

.btnnn button {
  padding: 0.8rem 4rem;
  font-weight: 700;
  font-size: 18px;
  border: 1.5px solid #b88e2f;
  color: #b88e2f;
}

.btnnn button:hover {
  background-color: #fff;
}

.discover {
  width: 643px;
  max-width: 100%;
  height: 443px;
  background-color: #fff3e3;
  border-radius: 10px;
  padding: 2rem 1.5rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 32%;
  right: 4.5%;
  text-align: left;
}

.discover h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
  color: #b88e2f;
}

.discover p {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #333;
  margin-top: 1rem;
}

.discover button {
  width: 222px;
  height: 74px;
  padding: 25px 72px;
  background-color: #b88e2f;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  border: none;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .discover {
    font-size: 18px;
    padding: 1rem;
    width: auto;
    height: auto;
    top: 35%;
    right: 2%;
  }
}

@media (max-width: 430px) {
  .discover {
    padding: 0.5rem;
    top: 25%;
  }

  .discover h1 {
    font-size: 42px;
    line-height: 55px;
  }
}
/*  */
.setion1-heading {
  text-align: center;
  padding: 3rem;
}

.setion1-heading h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

.setion1-heading p {
  margin-top: 0.3rem;
  font-size: 20px;
  font-weight: 400;
  color: #666;
}

.section1-spaces {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.imgg1 img {
  width: 381px;
  height: 480px;
}

.imgg1 p {
  padding: 1rem;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: #333;
}

@media (max-width: 450px) {
  .imgg1 img {
    width: 300px;
    height: 400px;
  }
}
/*  */
.third-section {
  height: 90vh;
  display: flex;
  background-color: #fcf8f3;
  align-items: center;
  justify-content: center;
  padding-left: 4rem;
  margin-top: 4rem;
}

.head-third {
  text-align: left;
  margin-left: 3.7rem;
}

.head-third h1 {
  margin-bottom: 10px;
  line-height: 48px;
  font-size: 40px;
  font-weight: 700;
}

.head-third p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.head-third button {
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  background-color: #b88e2f;
  color: white;
  border: none;
  cursor: pointer;
}

.imginerrpeace img {
  height: 550px;
  width: 400px;
}

.mySwiper {
  max-width: 45%;
  margin-bottom: 6.2rem;
  position: relative;
}

/* Style for pagination bullets */
.mySwiper .swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 45%;
  z-index: 10;
  display: flex;
  justify-content: start;
  align-items: end;
  width: 100%;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #eeb121;
  width: 18px;
  height: 18px;
  margin: 0 4px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border: 2px solid #1fe3c9;
  background-color: transparent;
}

.swipimg img {
  max-width: 370px;
  height: 450px;
}

@media (max-width: 850px) {
  .third-section {
    height: 100vh;
    padding: 4rem 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
  }

  .imginerrpeace img {
    height: 380px;
    width: 350px;
    margin-right: 1rem;
  }

  .mySwiper {
    min-width: 380px;
    height: 380px;
  }

  .head-third button {
    margin-bottom: 1rem;
  }

  .swipimg img {
    width: 470px;
    height: 450px;
  }
}

@media (max-width: 655px) {
  .third-section {
    height: 190vh;
  }

  .mySwiper {
    width: 100%;
    height: 380px;
    margin-top: 2rem;
  }

  .head-third {
    margin-left: 1rem;
  }
}

@media (max-width: 400px) {
  .mySwiper {
    min-width: 320px;
    height: 320px;
  }

  .swipimg img {
    min-width: 320px;
    height: 320px;
  }
}
/*  */
.wrapper {
  height: 85vh;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.fourthhead {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.fourthhead h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #3a3a3a;
}

.fourthhead p {
  color: #616161;
  font-size: 20px;
  font-weight: 600;
}

.wrapper img {
  width: 95%;
  height: 80%;
  object-fit: cover;
}

.one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.one img {
  height: 70%;
  width: 110%;
}

.two {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.two img {
  height: 60%;
  width: 90%;
}

.three {
  grid-column: 3 / 3;
  grid-row: 1 / 2;
  margin-bottom: 1rem;
  display: flex;
  align-items: end;
}

.four {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.four img {
  height: 100%;
  width: 80%;
}

.five {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  margin-bottom: 1rem;
  display: flex;
  align-items: end;
}

.five img {
  height: 100%;
}

.six {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  margin-right: 4rem;
  display: flex;
  align-items: start;
}

.seven {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: start;
}

.seven img {
  margin-left: 3rem;
  height: 110%;
  margin-top: -3rem;
}

.hashtag {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

@media (max-width: 750px) {
  .wrapper {
    height: 90vw;
  }

  .seven img {
    margin-left: 0;
    height: 110%;
    margin-top: 0;
  }

  .two {
    margin-left: 0;
  }

  .two img {
    width: 95%;
  }

  .six {
    margin-right: 0;
  }
}
/*  */
.btnimgshare {
  gap: 5px;
  align-items: center;
}

.btnimgshare button {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.btnimgshare img {
  font-size: 16px;
  font-weight: bold;
  height: 20px;
  width: 20px;
}

.off {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e97171;
  color: white;
}
