    /* section 2 products  */
    .head{
        text-align: center;
        padding: 2rem;
        font: Poppins;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        
    }
    .product-list{
        
        background-color: #F4F5F7;
    }
    
    
    .listing{
        padding: 0rem 4rem;
    
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    @media (max-width:792px){
        .listing{
            padding: 0rem 0rem;}   
            
    }
  
    .product{
        padding: 1rem;
    }
    .productlist-1{
        background-color: #F4F5F7;
        text-align: left;
        font: Poppins;
    }
    .product-list img{
        /* max-width: 285px; */
    /* max-height: 301px; */
    }
    .product-list h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    color: #3A3A3A;
    }
    .product-list p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    /* color: #898989; */
    }
    .product-list span{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color:  #3A3A3A;
    }
    #old{
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
    color: #B0B0B0;
    }
    .div{
        display: flex;
        justify-content: space-between;
    }
    .btnnn{
        display: flex;
        justify-content: center;
    }
    .products-btn button{
        font-size: 16px;
    font-weight: 600;
    padding: 0.8rem 3.5rem;
     border: 1px solid #B88E2F;
     color: #B88E2F;
    }
    .btnnn img{
        height: 25px;
        width: 25px;
    }
    
    /* catrttems  */
    .imgee {
        width: 68px; /* Adjust the unit (px, em, %, etc.) as needed */
        border-radius: 5px;
    }
    .price{
        color: #B88E2F;

    }
    .bttno{
        padding: 0.5rem;
    }
    .bttno button{
        border: 1px solid black;
        border-radius: 25px;
        
    }
    /* product detial */
    .detial{
        font: Poppins;
        padding: 3rem 5rem;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        gap: 0rem;
        background-color: #fff;
    }
    .detial-imges{
        display: flex;
        gap: 2rem;
    }
    .allimges img{
        height: 80px;
        width: 80px;
        margin-bottom: 2rem;
        border-radius: 5px;
    }
    .singleimg{
        width: 423px;

        border-radius: 10px;
        opacity: 0px;

    }
    
    .detialprice{
        
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        text-align: left;
        color:#B0B0B0;
    }
    #op{
        color:#B0B0B0;
        
    }
    .flex p{

        padding: 0rem 0.3rem;
    }
    .descrip{
        padding: 1rem;
        /* color: black; */
        /* width: 50%; */
    }
    .colors{
        display: flex;
        gap: 1rem;
    }
    .colors div{
        height: 45px;
        width: 45px;
        border-radius: 100px;
    }
    .col3{
        background-color: #B88E2F;
       
    }
    .col1{
        background-color: rgba(0, 128, 0, 0.815);
    }
    .col2{
        background-color: rgba(128, 0, 128, 0.756);
    }
    .herr{
        font: Poppins;
        font-size: 42px;
        font-weight: 500;
        line-height: 63px;

    }
    .catdetial{
        padding: 1rem 0rem;
    }
    .data{
        display: flex;
        line-height: 24px;
        padding: 0.4rem 0rem;
        color: #898989;
    }
    .data p{
        font: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;

    }
    #apps{
        display: flex;
        gap: 1rem;
    }
    #apps img{
        /* border-radius: 50%; */
        /* padding: 0.3rem; */

    }
    @media (max-width:850px){
        .detial{
            display: flex;
            justify-content: center;
            gap: 5rem;
            flex-direction: column;
            padding: 2rem 2rem;
        }
       
    }
    @media (max-width:500px){
            .allimges{
                display: none;
            }
            .headrr{
                margin-top: 0rem;
            }
            .allbtnss{
                display: flex;
                flex-wrap: wrap;
            }
            .imggg{
                width: 50%;
                height: 25px;
            }
    }
    .detial-inf{
        padding: 3rem 5rem;
      }
        .descip{
          display: flex;
          /* flex-wrap: wrap; */
          justify-content: center;
          gap: 3rem;
          font: Poppins;
          font-size: 24px;
          font-weight: 500;
          line-height: 36px;
          text-align: left;
      
        }
        .product-0describe{
          padding: 2rem 5rem;
          /* width: 80%; */
          /* text-align: center; */
          /* display: flex; */

            justify-content: center;          /* margin-bottom: 1rem; */
          color:  #9F9F9F;
          font: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: justified;
      
        }
        @media (max-width:752px){
            .product-0describe{
                padding: 0rem 0rem;
            }
            .detial-inf{
                padding: 3rem 2rem;
              }
              .detial-imges{
                margin-top: 2rem;
              }
        }
        .detial-imges{
          /* text-align: center; */
          display: flex;
          justify-content: center;
          gap: 2rem;
        }
        .detial-imges img{
          border-radius: 10px;
        }
        .dec{
            color: #898989;
        }

   .related-product p{
    text-align: center;
    font: Poppins;
font-size: 36px;
font-weight: 500;
line-height: 54px;

   }